.priceWrapper{
    display: flex;
    gap: 1rem;
}

.price {
  font-size: 1.5rem;
  font-weight: 600;
  white-space: nowrap;
}

.pricingDetails{
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
}

.save{
    display: inline-block;
    flex-shrink: 0;
    align-self: flex-start;
    padding: 0.2rem;
    background-color: #FFDD00;
}

.originalPrice{
    margin-left: 0.2rem;
    white-space: nowrap;
}