.productList {
  li {
    list-style-type: none;
  }

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  padding: 1rem 2rem;
}

.product {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  border: 2px solid hsl(279, 30%, 80%);
  border-radius: 0.5rem;
  position: relative;
}

.saleBadge {
  position: absolute;
  top: 16px;
  left: 16px;
  background: #863AAF;
  color: #fff;
  font-weight: bold;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  z-index: 2;
  transform: rotate(-10deg);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.image {
  flex-shrink: 0;

  img {
    width: 100%;
    height: auto;
  }
}

.detailsWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-basis: 70%;
}

.price {
 margin-top: 0.5rem;
 margin-left: auto;
}

@media (min-width: 600px) {
  .image {
    width: 208px;
  }

  .product {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .detailsWrapper {
    flex-direction: row;
  }
}
