.hero {
  border: 2px solid #7b7198;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 10rem;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: #b695c6;
  border-radius: 0.5rem;
}

.hero p {
  text-align: center;
}

:global(.swiper) {
  max-width: 1200px;
}

:global(.swiper-button-next),
:global(.swiper-button-prev) {
  color: #863aaf;
}

:global(.swiper-pagination-bullet-active) {
  background-color: #863aaf;
}

.circle {
  width: 150px;
  height: 150px;
  border: 2px solid #7b7198;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #863aaf;
  color: white;
  gap: 0.25rem;
  padding: 0.5rem;
}

.circle span:first-child {
  font-size: 0.75rem;
}

.circle span:last-child {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: -5px;
}

.heroBtn {
  background-color: #863aaf;
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
}

.images {
  display: flex;
}

.image {
  flex-shrink: 0;

  img {
    width: 100%;
    height: auto;
  }
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

@media (max-width: 1300px) {
  .hero {
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    height: 600px;
  }

  .image {
    margin-bottom: auto;
  }

  .cirkel {
    width: 100px;
    height: 100px;
  }

  .cirkel span:last-child {
    font-size: 1rem;
  }

  .center {
    gap: 2rem;
  }

  .center h1 {
    text-align: center;
  }

  :global(.swiper) {
    max-width: 750px;
  }
}

@media (max-width: 900px) {
  :global(.swiper) {
    max-width: 600px;
  }
}

@media (max-width: 768px) {
  :global(.swiper) {
    max-width: 500px;
  }
}
@media (max-width: 550px) {
  :global(.swiper) {
    max-width: 320px;
  }

  .image {
    max-width: 150px;
  }
}
