.contact-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 2rem 1rem;
    
    /* Anpassning för små skärmar (mobiler i landskapsläge och mindre surfplattor */
    @media (min-width: 576px) {
        padding-inline: 4rem;
    }

    /* Anpassning för surfplattor */
    @media (min-width: 768px) {
        padding-inline: 8rem;
    }

    /* Anpassning för desktops och större skärmar */
    @media (min-width: 992px) {
        grid-template-columns: 1fr 1fr;
        padding-inline: 0;
        max-width: 900px;
        margin-inline: auto;
    }
    
    /* Anpassning för stora desktops */
    @media (min-width: 1200px) {
        max-width: 960px;
    }
}

.form-container {
    display: flex;
    flex-direction: column;
    
    /* Anpassning för desktops och större skärmar */
    @media (min-width: 992px) {
        padding-right: 2rem;
    }
    
    /* Anpassning för stora desktops */
    @media (min-width: 1200px) {
        padding-right: 5rem;
    }
}

.h1-heading {
    margin-bottom: 0.5rem;
    
    /* Anpassning för stora desktops */
    @media (min-width: 1200px) {
        margin-bottom: 1rem;
    }
}

.paragraph {
    margin-bottom: 1.5rem;
    
    /* Anpassning för stora desktops */
    @media (min-width: 1200px) {
        margin-bottom: 2.7rem;
    }
}

.form, .button {
    font-size: 1rem;
}

.form-input, .form-textarea {
    font: inherit;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;

    /* Anpassning för stora desktops */
    @media (min-width: 1200px) {
        gap: 1.5rem;
    }
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-input {
    padding: 0.7rem 0.8rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
}

.form-textarea {
    padding: 0.7rem 0.8rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    resize: none;
}

.button {
    padding: 0.8em 1.4em;
    border-radius: 0.6em;
    border: 0;
    font-size: 1rem;
    color: #fff;
    background-color: #863aaf;
    cursor: pointer;
    transition: all ease-in 200ms;

    &:hover {
        background-color: #938bab;
    }
}

.image {
    max-width: 100%;
    height: auto;
    box-shadow: 2px 4px 8px 0 rgba(147, 139, 171, 0.2);
    display: none;

    /* Anpassning för desktops och större skärmar */
    @media (min-width: 992px) {
        display: block;
    }   
}
