.swiper {
  height: 700px;
  display: flex;
  border-radius: 1rem;
}

@media (max-width: 550px) {
  .swiper {
    height: 600px;
  }

  .image {
    max-width: 200px;
  }
}

.cardWrapper {
  flex-shrink: 0;
  width: 100%;
  height: 95%;
  position: relative;
  transition-property: transform;
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-color: #ffffff;
  border-radius: 1rem;
}

